#{extends 'main.html'/}
<div class="lang-select section">
    <strong>&{'changeLang'}:</strong>
    #{list items:play.langs, as:'newLang'}
    <a href="@{setLang(newLang)}">${newLang}</a>&nbsp;
    #{/list}
</div>

#{if hello}
<div class="hello section">
${hello}
</div>
#{/if}

<div class="say section">
#{form @hello()}
    <input name="name" type="text" value="&{'giveYourName'}"/>
    <input type="submit" value="&{'sayHello'}"/>
#{/form}
<br>
#{form @helloWithType()}
    <input style="float:left" name="name" type="text" value="&{'giveYourName'}"/>

    <div style="float:left">
    <label><input type="radio" name="type" value="happy" checked/>&{'happy'}</label>
    <label><input type="radio" name="type" value="quick"/>&{'quick'}</label>
    <label><input type="radio" name="type" value="normal"/>&{'normal'}</label>
    <label><input type="radio" name="type" value="loud"/>&{'loud'}</label>
    </div>
    <input style="float:left" type="submit" value="&{'sayHello'}"/>
    <div style="clear:both"></div>
#{/form}
</div>
