<!DOCTYPE html>
<html lang="${lang}">
<head>
    <title>@messages</title>
    <meta charset="utf-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.8.custom.css'}">

<style>
body {
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
}

#wrap {
    margin: 0 auto;
    width: 90%;
}

table {
    border-collapse: collapse;
    text-align: left;
}

td, th {
    border: 1px solid #D8DFF2;
}

td.key {
    width: 24%;
}

td.default, td.message {
    min-width: 220px;
    width: 38%;
}

td.action {
    text-align: center;
}



textarea {
    border: 1px solid #666699;
    width: 100%;
}

th {
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

tr.odd {
    background: none repeat scroll 0 0 #E8EDFF;
}

td {
    color: #666699;
    padding: 8px;
}

select {
    border: solid 1px #666699;
    background-color: #124c9a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 2px;
    font-size: 15px;
    color: #fff;
}
</style>
</head>
<body>
<div id="wrap">

<div class="message">
#{if workingFile.exists()}
Read localization from working file ${workingFile.getPath()}.
#{/if}
#{else}
Using default Play messages.
#{/else}
</div>
#{form @save()}

<div id="tabs">
    <ul>
        <li><a href="#tab-1">New keys (${newKeys.size()})</a></li>
        <li><a href="#tab-2">Existing (${existingKeys.size()})</a></li>
        <li><a href="#tab-3">Obsolete (${obsoleteKeys.size()})</a></li>
    </ul>
        <input type="hidden" name="language" value="${language}"/>
        <input type="hidden" name="defaultLanguage" value="${defaultLanguage}"/>

        <div id="tab-1">
            <h3>New keys</h3>
            <table id="new-keys" border="0" cell-spacing="0">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Compare #{include 'messages/MessagesList/_compareSelector.html'/}</th>
                    <th>Edit #{include 'messages/MessagesList/_targetSelector.html'/}</th>
                    <th>Ignore</th>
                </tr>
                </thead>
                <tbody>
                #{list items:newKeys.sort(),as:'key'}
                <tr class="${key_index % 2 == 1 ? "odd" : "even"}">
                    <td class="key"><label>${key}</label><br><em>${sources.getSources(key).nl2br()}</em></td>
                    <td class="default"><p>${defaultLocalizations.get(key)}</p></td>
                    <td class="message"><textarea rows="3" cols="40" name="values[${key}]"></textarea></td>
                    <td class="action"><input type="checkbox" value="${key}" name="ignoreList"/></td>
                </tr>
                #{/list}
                </tbody>
            </table>

            <a id="ignore-toggle" href="#">Ignored keys (${ignoreList.size()})</a>

            <div id="ignored-keys" style="display:none;">
                <table>
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Compare #{include 'messages/MessagesList/_compareSelector.html'/}</th>
                        <th>Edit #{include 'messages/MessagesList/_targetSelector.html'/}</th>
                        <th>Ignore</th>
                    </tr>
                    </thead>
                    <tbody>
                    #{list items:ignoreList.sort(),as:'key'}
                    <tr class="${key_index % 2 == 1 ? "odd" : "even"}">
                        <td class="key"><label>${key}</label><br><em>${sources.getSources(key).nl2br()}</em></td>
                        <td class="default"><p>${defaultLocalizations.get(key)}</p></td>
                        <td class="message"><textarea rows="3" cols="40" name="values[${key}]"></textarea></td>
                        <td class="action"><input type="checkbox" value="${key}" name="ignoreList" checked/></td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="tab-2">
            <h3>Existing keys</h3>
            <table id="existing">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Compare #{include 'messages/MessagesList/_compareSelector.html'/}</th>
                    <th>Edit #{include 'messages/MessagesList/_targetSelector.html'/}</th>
                    <th>Remove</th>
                    <th>Keep</th>
                </tr>
                </thead>
                <tbody>

                #{list items:existingKeys.sort(),as:'key'}
                <tr>
                    <td class="key"><label>${key}</label><br><em>${sources.getSources(key).nl2br()}</em></td>
                    <td class="default"><p>${defaultLocalizations.get(key)}</p></td>
                    <td class="message"><textarea rows="3" cols="40" name="values[${key}]">${localizations.get(key)?.raw()}</textarea></td>
                    <td class="action"><input type="checkbox" value="${key}" name="removeList"/></td>
                    <td class="action"><input type="checkbox" value="${key}" name="keepList" #{if keepList.contains(key)}checked#{/if}/></td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>

        <div id="tab-3">
            <h3>Possibly obsolete keys</h3>
            <table id="obsolete">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Compare #{include 'messages/MessagesList/_compareSelector.html'/}</th>
                    <th>Edit #{include 'messages/MessagesList/_targetSelector.html'/}</th>
                    <th>Remove</th>
                    <th>Keep</th>
                </tr>
                </thead>
                <tbody>
                #{list items:obsoleteKeys.sort(),as:'key'}
                <tr>
                    <td class="key"><label>${key}</label><br><em>${sources.getSources(key).nl2br()}</em></td>
                    <td class="default"><p>${defaultLocalizations.get(key)}</p></td>
                    <td class="message"><textarea rows="3" cols="40" name="values[${key}]">${localizations.get(key).raw()}</textarea></td>
                    <td class="action"><input type="checkbox" value="${key}" name="removeList"/></td>
                    <td class="action"><input type="checkbox" value="${key}" name="keepList"/></td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>
</div>
<input type="submit" value="Save"/>

#{/form}
</div>

<script type="text/javascript">
$(function(){
    $("#tabs").tabs();
    $("td.key").click(function(){
        $(this).children("em").toggle('fast');
    return false;
    });
    $("#ignore-toggle").click(function() {
        $("#ignored-keys").toggle("fast");
        return false;
    });
    $("select").bind('click', function() {
        if ($(this).data("selected") != $(this).val()) {
            window.location = $(this).find("option:selected").data("href");
        }
    });
});
</script>
</body>
</html>