body { margin: 0px; font-family: Arial,Sans-Serif; }


div.notification-area { display: none; }
div.FixedHeader_Cloned { z-index: 0 !important; }
div.FixedHeader_Cloned th { background-color: white; }

div.header { display: block; width: auto; margin: 0px 8px; padding: 5px; padding-bottom: 8px; background-color: #fafafa; border-radius: 0px 0px 12px 12px; box-shadow: 1px 0px 3px; }
div.header > div { display: inline; margin-right: 20px; margin-left: 4px; }
div.header div > .title { display: inline; font-weight: bold; margin: 0px 8px; }
div.header div div:not(.title) { display: inline; padding: 5px; margin: 0px; border-bottom: 1px solid grey; }
div.header div div:not(.title):nth-child(2) { margin-left: 8px; border-bottom-left-radius: 12px; border-left: 1px solid grey; }
div.header div div:last-child { border-bottom-right-radius: 12px; border-right: 1px solid grey; }

div.main { margin: 8px; }

table.dataTable tr.obsolete .btn-sources { display: none; }
table.dataTable tr:not(.obsolete) .btn-delete { display: none; }
table.dataTable tr:not(.obsolete) .btn-keep { display: none; }
table.dataTable tr:not(.keep) .btn-unkeep { display: none; }

table.dataTable tr td:first-child { white-space: nowrap; }
table.dataTable img { height: 1em; }

table.dataTable { border-collapse:collapse; border-spacing:0; }
table.dataTable td.edit { min-width: 150px; }
table.dataTable td.edit input { padding: 0px; width: 100%; height: 100%; }

table.dataTable tr.odd, div.legend .normal { background-color: #f4f4ff; }
table.dataTable tr.even { background-color: #ffffff; }

table.dataTable tr.odd td.sorting_1 { background-color: #eeeeff; }
table.dataTable tr.odd td.sorting_2 { background-color: #f4f4ff; }
table.dataTable tr.even td.sorting_1 { background-color: #fafaff; }
table.dataTable tr.even td.sorting_2 { background-color: #fdfdff; }

table.dataTable tr.odd.new, div.legend .new { background-color: #ddffdd; }
table.dataTable tr.even.new { background-color: #eeffee; }
table.dataTable tr.odd.new td.sorting_1 { background-color: #c4ffc4; }
table.dataTable tr.odd.new td.sorting_2 { background-color: #d1ffd1; }
table.dataTable tr.even.new td.sorting_1 { background-color: #d5ffd5; }
table.dataTable tr.even.new td.sorting_2 { background-color: #e2ffe2; }

table.dataTable tr.odd td.missing, div.legend .missing { background-color: #ffdddd; }
table.dataTable tr.even td.missing { background-color: #ffeeee; }
table.dataTable tr.odd td.missing.sorting_1 { background-color: #ffc4c4; }
table.dataTable tr.odd td.missing.sorting_2 { background-color: #ffd1d1; }
table.dataTable tr.even td.missing.sorting_1 { background-color: #ffd5d5; }
table.dataTable tr.even td.missing.sorting_2 { background-color: #ffe2e2; }

table.dataTable tr.odd.obsolete, div.legend .obsolete { background-color: #ffffdd; }
table.dataTable tr.even.obsolete { background-color: #ffffee; }
table.dataTable tr.odd.obsolete td.sorting_1 { background-color: #ffffc4; }
table.dataTable tr.odd.obsolete td.sorting_2 { background-color: #ffffd1; }
table.dataTable tr.even.obsolete td.sorting_1 { background-color: #ffffd5; }
table.dataTable tr.even.obsolete td.sorting_2 { background-color: #ffffe2; }

.sources {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 2px 2px 5px 2px #666666;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    padding: 0 3px;
    position: absolute;
    z-index: 100;
    max-height: 400px;
    overflow-y: auto;
}

.sources strong {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    display: block;
    margin: 4px 0;
    padding: 2px 5px;
}

.code {
    margin-bottom: 4px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}

.line {
    font-family: 'Lucida console','Courier',monospace;
    color: #333;
    line-height: 19px;
    font-size: 14px;
}

.line pre {
    display: inline;
    margin: 0;
}

.line pre.lno {
    border-right: 2px solid #33DD33;
    color: #999999;
    margin-right: 3px;
    padding: 1px 0 2px;
}

.line.focus {
    background-color: #CCCCEE;
}

.line pre.k {
    background-color: #FF0000;
    color: #FFFAF0;
    font-weight: bold;
    padding: 0 3px;
}

div.loading { background-image: url(../images/ajax-loader.gif); margin: 100px auto; width: 32px; height: 32px; }

div.loading-small { width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(../images/ajax-loader-small.gif); }
