<tr class="${key_parity}">
    <td class="action"><input class="key-check" type="checkbox" name="keys" value="${key}"/></td>
    <td class="key">
        <label class="messages-key">${key}</label>
    </td>
    <td class="default">
        <pre class="messages-default">${defaultValues.get(key)}</pre>
    </td>
    <td class="message">
        <pre class="messages-value">${values.get(key)}</pre>
        <div class="value-edit hidden">
            <input type="hidden" value="${language}" name="language"/>
            <input type="hidden" value="${key}" name="key"/>
            <textarea autocomplete="off" rows="5" cols="40" name="value">${values.get(key)}</textarea>
            <div class="actions clear">
                <label><input type="checkbox" value="true" name="keep" #{if keepList.contains(key)}checked#{/if}/>Keep</label>
                <a class="button save" href="#"><span class="icon"><b class="ui-icon ui-icon-circle-check"></b>Save</span></a>
                <a class="button cancel" href="#"><span class="icon"><b class="ui-icon ui-icon-circle-close"></b>Cancel</span></a>
                %{
                    sourceCount = sources ? sources.getKeySourceList(key).listSourceFiles().size() : 0;
                }%
                <a class="button show-sources hidden" href="#"><span class="icon"><b class="ui-icon ui-icon-search"></b>Show usages (${sourceCount} file${sourceCount.pluralize()})</span></a>
            </div>
        </div>
    </td>
</tr>