#{form @applyChanges(), id:tableId}

<select style="float:left" class="action" name="action">
    <option class="title-option" selected>Action for selected 0 items</option>
    <option disabled>-------------------------------------</option>
    <option class="remove-option" value="REMOVE">Remove</option>
    <option class="ignore-option" value="IGNORE">Ignore</option>
    <option class="unignore-option" value="UNIGNORE">Unignore</option>
</select>
<button type="submit" href="#" class="button apply"><span class="icon"><b class="ui-icon ui-icon-circle-check"></b>Apply</span></button>


<div style="clear:both"></div>

<table id="${tableId}" border="0" cell-spacing="0">
    <thead>
    <tr>
        <th><input type="checkbox" class="check-all" name="keys"/></th>
        <th>Key</th>
        <th>Compare #{include '_compareSelector.html'/}</th>
        <th>Edit #{include '_targetSelector.html'/}</th>
    </tr>
    </thead>
    <tbody>
    #{list items:keys.sort(),as:'key'}
        #{include '_row.html'/}
    #{/list}
    </tbody>
</table>

#{/form}
