<div class="value-view">
    <pre>${localizations.get(key)}</pre>
</div>
<div class="value-edit">
    <input type="hidden" value="${language}" name="language"/>
    <input type="hidden" value="${key}" name="key"/>
    <textarea rows="3" cols="40" name="value"></textarea>
    <div class="actions clear">
        <label><input type="checkbox" value="true" name="keep" #{if keepList.contains(key)}checked#{/if}/>Keep</label>
        <a class="button save" href="#"><span>Save</span></a><a class="button cancel" href="#"><span>Cancel</span></a>
    </div>
</div>
